.div1{
    position: fixed;
    width: 300px;
    left: 100px;
    top: 50px;
    background-color: brown;
    color:white;
}

.div2{
    width: 500px;
    background-color:blueviolet;
    color:white;
}
.divCentrado{
    margin:auto;
    width:500px;
    border-width:2px ;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.div3{
    position: relative;
    background-color: darkcyan;
    color:white;
    width: 300;
    top:50px;
    left: 0px;
}